{{>layouts/header}}

{{#member}}
    이름: {{name}}
    이메일: {{email}}
{{/member}}
<a href="/member/{{member.email}}/update" class="btn btn-primary">Edit</a>
<a href="/member/{{member.email}}/delete" class="btn btn-danger">Delete</a>
<a href="/memberList" class="btn btn-primary">목록으로</a>
{{>layouts/footer}}