{{>layouts/header}}
{{#article}}
제목 :   {{title}}<br>
내용 :   {{content}}
작성자 ID: {{#userId}}{{userId}}{{/userId}}
{{/article}}
{{^nickname}}
    댓글을 작성하려면 로그인을 하십시오.
{{/nickname}}
{{#nickname}}
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
<!--<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a> -->
<form action="/articles/{{article.id}}/delete" method="get">
    <input type="hidden" name="userId" value="{{article.user.id}}">
    <button type="submit">삭제</button>
</form>
<a href="/articles" class="btn btn-primary">Go to Article List</a>
{{>comments/_comments}}
{{/nickname}}
{{>layouts/footer}}