<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 유저 정보 </title>
</head>
<body>
<h1> 유저 정보 </h1>
{{#user}}
    <div>
        <div> PK: {{user.Id}}</div> <div> 아이디: {{user.loginId}} </div> <div> 닉네임: {{user.nickname}}</div>
        <div> 역할: {{user.role}}</div>
    </div>
{{/user}}
</form>
</body>
</html>